* {
	transition-duration:0.2s;
}

body {
	margin:0;
	padding:0;
	font-family: 'Arapey', sans-serif;
	background:rgb(242, 236, 236);
	transition-duration:1.5s;
}
.connected {
	background:rgb(245, 247, 243);
}
::selection {
	background:rgb(193, 189, 178);
}
::-moz-selection {
	background:rgb(193, 189, 178);
}
.title {
	word-wrap: break-word;
	margin:50px;
	margin-top:25px;
	margin-bottom:0px;
	padding:10px;
	color:rgb(68, 70, 60);
	font-size:48px;
	font-weight:700;
	border-bottom:4px solid rgb(68, 70, 60);
	font-family: 'Orbitron', sans-serif;
}
.smalltitle {
	font-size:50%;
}
.lefttitle {
	float:left;
}
.righttitle {
	display:inline-block;
	float:right;
}
.usercount {
	margin-right:50px;
}

.chat-message {
	overflow:hidden;
}

.messagecontainer {
	max-height:580px;
	height:580px;
	overflow:auto;
}

.field {
	display:block;
	float:left;
	background:rgba(152, 141, 84, 0.25);
	padding:20px;
	border-left:solid 5px rgba(109, 88, 48, 0.5);
	min-height:300px;
	width:25%;
	min-width:300px;
	margin-left:50px;
	margin-top:25px;
	margin-bottom:25px;
	max-height:650px;
	overflow:auto;
}

.righttitle {
	transition-duration:0.1s;
}

.voteoption {
	padding:5px;
	background:rgb(136, 128, 103);
	cursor:pointer;
	margin-top:10px;
	color:white;
}

.voteoption:hover {
	background:rgb(96, 89, 70);
}

.polltimebar {
	padding:5px;
	background:rgba(36, 116, 37, 0.5);
	transition-duration:0;
	color:white;
	white-space:nowrap;
	box-sizing:border-box;
}

.polltimebarcontainer {
	background:gray;
}

.inputcontainer-poll {
	margin-top:30px;
}

.inputcontainer-poll input {
	width:60%;
	padding:4px;
}

.button-small {
	display:inline-block;
	width:30%;
	float:right;
	text-align:center;
	margin:0;
	padding:4px;
}

#connectionstatus, #usercount {
	transition-duration:0;
}

#sourcefile {
	font-family: 'Fira Mono', "Lucida Console", Monaco, "Courier New", Courier, monospace;
	overflow:visible;
	text-shadow:none;
}

#sourcecode {
	background:rgba(152, 141, 84, 0.1);
}


@media (max-width: 600px) {
	.title {
		margin:0;
		padding:0;
	}
	.righttitle {
		display:block;
		float:none;
		margin-bottom:5px;
		background:rgba(172, 163, 105, 0.5);
		padding:15px;
	}
	.lefttitle {
		display:block;
		float:none;
		padding:15px;
	}
	.usercount {
		margin:0;
	}

	.field {
		margin-left:0;
		margin-right:0;
		min-width:0;
		width:auto;
		float:none;
		border-left:none;
		margin-top:10px;
	}
}

@media (max-width:400px) {
	.lefttitle, .righttitle {
		font-size:40%;
	}
}
